APP_NAME=SIHS API
APP_ENV=development
DATABASE_URL=postgresql+psycopg://postgres:postgrespassword@localhost:5432/sistema_sihs
ALEMBIC_DATABASE_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
